* text=auto eol=lf

# Forçar Laravel como linguagem principal
* linguist-language=PHP

# Especificar Blade
*.blade.php linguist-language=Blade

# Permitir outras linguagens serem detectadas
*.js linguist-detectable=true linguist-language=JavaScript
*.css linguist-detectable=true linguist-language=CSS
*.json linguist-detectable=true linguist-language=JSON

# Excluir dependências
/vendor/** linguist-vendored
/node_modules/** linguist-vendored
